@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,600");
body {
  font-family: "Open Sans", sans-serif;
  color: #444651;
  overflow: scroll; }

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #444651;
  text-transform: uppercase; }

p {
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 20px;
  color: #444651; }

.btn-default, .btn {
  background-color: #7accc8;
  border-radius: 0px;
  border: 0px;
  color: white; }
  .btn-default:hover, .btn:hover {
    background-color: #45b4af;
    color: white; }

a {
  color: #7accc8; }

.navbar {
  background: none; }

.navbar-brand {
  background: #7accc8;
  padding: 20px 30px;
  display: block;
  margin-left: 1px;
  max-width: 105px; }
  .navbar-brand:hover {
    background: #7accc8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9; }
  .navbar-brand img {
    height: 35px; }

.navbar-fixed-top {
  position: absolute; }

.login {
  margin: 34px 0;
  text-transform: uppercase;
  background: url(../images/white_bg.png) repeat;
  border: none;
  padding: 10px 20px;
  font-size: 16px; }
  .login:hover {
    background: url(../images/white_bg.png) repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9; }

.jumbotron {
  background: url("../images/hero_bg.jpg") no-repeat center top;
  background-size: cover;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 180px 0;
  margin-bottom: 0;
  color: white;
  height: 530px;
  display: block; }
  .jumbotron h1 {
    font-size: 43px;
    line-height: 50px; }
  .jumbotron #hero-title {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s; }
  .jumbotron button {
    margin: 30px 0;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .jumbotron button:hover {
      background: #7accc8;
      border-color: #7accc8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
      filter: alpha(opacity=90);
      -moz-opacity: 0.9;
      -khtml-opacity: 0.9;
      opacity: 0.9; }

.pane-center {
  padding: 80px 0 30px 0;
  text-align: center; }

#who {
  background: #f2f1f1;
  text-align: center;
  overflow: hidden; }
  #who h2 {
    margin-bottom: 0px; }
  #who #village-people {
    opacity: 0;
    width: 90%;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -ms-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s; }

#what {
  padding: 80px 0; }
  #what #what-list {
    opacity: 0;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s; }
  #what #what-description {
    opacity: 0;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s; }
  #what .feature {
    background: #7accc8;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px; }
    #what .feature i {
      margin-right: 20px;
      font-size: 20px; }

#examples {
  background: #f2f1f1;
  padding-bottom: 80px; }
  #examples #examples-title {
    opacity: 0;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s; }

.carousel .carousel-inner {
  overflow: hidden; }
.carousel .example {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box; }
  .carousel .example img {
    width: 100%;
    border: 5px solid white;
    -webkit-box-shadow: 0px 0px 5px #999999;
    -moz-box-shadow: 0px 0px 5px #999999;
    box-shadow: 0px 0px 5px #999999; }
.carousel .carousel-control {
  background: none;
  color: #444651;
  font-size: 40px; }
  .carousel .carousel-control i.icon-chevron-left {
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: 5;
    display: inline-block; }
  .carousel .carousel-control i.icon-chevron-right {
    position: absolute;
    top: 50%;
    right: -20%;
    z-index: 5;
    display: inline-block; }

#call-to-action {
  padding: 80px 0; }
  #call-to-action h3 {
    margin: 10px 0 0 0;
    text-align: center; }

#contact {
  padding: 80px 0; }
  #contact button {
    margin: 20px 0; }
  #contact h2 {
    margin-top: 0px; }

.contact-submit {
  margin: 20px 0; }

@media screen and (max-width: 768px) {
  #what .feature {
    text-align: center; }

  .pane-center {
    padding: 60px 15px 30px 15px;
    text-align: center; }

  .carousel-inner .example {
    float: none !important;
    width: 100% !important; }

  .carousel-control i.icon-chevron-left {
    left: 15% !important; }
  .carousel-control i.icon-chevron-right {
    right: 15% !important; } }
