body {
  color: #666666;
  background: url("../img/bg.jpg") repeat-x;
  background-position: 0 103px; }

@media (max-width: 991px) and (min-width: 100px) {
  body {
    background: none; } }
ul {
  margin-bottom: 0px; }

a {
  color: #7accc8; }
  a:hover {
    color: #45b4af; }

i {
  font-size: 1.2em; }

.btn-default {
  background: #e0e0e0;
  border: none;
  color: #777c80;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px; }
  .btn-default:hover {
    background: lightgrey;
    color: #777c80; }

.btn-primary {
  background: #7accc8;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px; }
  .btn-primary:hover {
    background: #68c5c0;
    color: white; }

.navbar {
  background: #7accc8;
  border-radius: 0px; }
  .navbar .navbar-brand {
    color: white; }
    .navbar .navbar-brand:hover {
      color: #293541; }
  .navbar .navbar-nav > li > a {
    color: white; }
    .navbar .navbar-nav > li > a:hover {
      color: white;
      background: #9fdad7;
      -webkit-border-radius: 0px;
      border-radius: 0px; }
  .navbar .navbar-nav i {
    margin-right: 20px; }
  .navbar .navbar-nav .active a {
    background: #b1e1df;
    -webkit-border-radius: 0px;
    border-radius: 0px; }

.navbar-toggle {
  background: #b1e1df;
  border: #45b4af;
  margin: 18px 0; }
  .navbar-toggle .icon-bar {
    background-color: white; }
  .navbar-toggle:hover {
    background: #d6efee; }

#page {
  margin-left: -15px; }

@media (max-width: 991px) and (min-width: 768px) {
  #page {
    margin-left: auto; } }
#header {
  padding: 34px 0; }
  #header #page-title {
    margin: 0px; }

#content {
  padding-top: 30px; }

#list header {
  margin: 15px 0; }
#list .row {
  margin-top: 15px;
  margin-bottom: 15px; }

#branding {
  background: #7accc8;
  color: white;
  padding: 30px 0;
  text-align: center; }
  #branding h1 {
    padding: 0px;
    margin: 0px; }
  #branding img {
    height: 43px; }

#sidebar {
  background: #293541;
  height: auto;
  position: relative;
  color: #777c80; }
  #sidebar nav {
    height: 100%;
    min-height: 100%;
    padding: 30px; }
  #sidebar #main-nav {
    margin-bottom: 30px; }
    #sidebar #main-nav li {
      border-bottom: 1px solid #334251; }
      #sidebar #main-nav li i {
        margin-right: 20px; }
      #sidebar #main-nav li a {
        color: #777c80;
        display: block;
        padding: 15px; }
        #sidebar #main-nav li a:hover {
          text-decoration: none;
          color: white;
          background: #334251; }

#logout .btn-default {
  background: #334251; }
  #logout .btn-default:hover {
    color: white;
    background: #3d4e60; }

.modal-content {
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  border: none; }

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 15px; }

.admin_form .row {
  margin-bottom: 10px; }
