@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,600");
body {
  font-family: "Open Sans", sans-serif;
  color: #444651; }

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #444651;
  text-transform: uppercase; }

p {
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 20px;
  color: #444651; }

.btn-default {
  background-color: #7accc8;
  border-color: #7accc8;
  border-radius: 0px; }
  .btn-default:hover {
    background-color: #444651;
    border-color: #444651; }

.navbar {
  background: none; }

.navbar-brand {
  background: #7accc8;
  padding: 20px 30px;
  display: block;
  margin-left: 1px;
  max-width: 105px; }
  .navbar-brand:hover {
    background: #7accc8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9; }
  .navbar-brand img {
    height: 35px; }

.navbar-fixed-top {
  position: absolute; }

.login {
  margin: 34px 0;
  text-transform: uppercase;
  background: url(../../images/white_bg.png) repeat;
  border: none;
  padding: 10px 20px;
  font-size: 16px; }
  .login:hover {
    background: url(../../images/white_bg.png) repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9; }

.jumbotron {
  background: url("../../images/hero_bg.jpg") no-repeat center fixed;
  background-size: cover;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 180px 0;
  margin-bottom: 0;
  color: white; }
  .jumbotron h1 {
    font-size: 43px;
    line-height: 50px; }
  .jumbotron button {
    margin: 30px 0;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .jumbotron button:hover {
      background: #7accc8;
      border-color: #7accc8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
      filter: alpha(opacity=90);
      -moz-opacity: 0.9;
      -khtml-opacity: 0.9;
      opacity: 0.9; }

.pane-center {
  padding: 80px 0 30px 0;
  text-align: center; }

#who {
  background: #f2f1f1; }
  #who h2 {
    margin-bottom: 30px; }

#what {
  padding-bottom: 100px; }
  #what div {
    text-align: center;
    padding-bottom: 30px; }

#contact {
  padding: 80px 0; }
  #contact button {
    margin: 20px 0; }
  #contact h2 {
    margin-top: 0px; }
