// Variables
/////////////////////////////////////////

// Colors
$green:			#7accc8
$white:			#ffffff
$darkestgrey:	#293541
$grey:			#777c80
$darkgrey:		#666666
$lightgrey:		#e0e0e0
$lightestgrey:	#f2f3f8



// Globals
////////////////////////////////////////
body
	color: #666
	background: url('../img/bg.jpg') repeat-x
	background-position: 0 103px

@media (max-width: 991px) and (min-width: 100px)
	body
		background: none

ul
	margin-bottom: 0px

a
	color: $green
	&:hover
		color: darken($green, 15%)

i
	font-size: 1.2em

// Buttons
.btn-default
	background: $lightgrey
	border: none
	color: $grey
	font-size: 12px
	font-weight: 500
	letter-spacing: 1px
	&:hover
		background: darken($lightgrey, 5%)
		color: $grey

.btn-primary
	background: $green
	border: none
	color: $white
	font-size: 12px
	font-weight: 500
	letter-spacing: 1px
	&:hover
		background: darken($green, 5%)
		color: $white	

// Mobile Nav
.navbar
	background: $green
	border-radius: 0px
	.navbar-brand
		color: $white
		&:hover
			color: $darkestgrey
	.navbar-nav>li>a
		color: $white
		&:hover
			color: $white
			background: lighten($green, 10%)
			-webkit-border-radius: 0px
			border-radius: 0px
	.navbar-nav
		i
			margin-right: 20px
		.active
			a
				background: lighten($green, 15%)			
				-webkit-border-radius: 0px
				border-radius: 0px
.navbar-toggle
	background: lighten($green, 15%)
	border:	darken($green, 15%)
	margin: 18px 0
	.icon-bar
		background-color: $white
	&:hover
		background: lighten($green, 25%)
	

// Content
////////////////////////////////////////
#page
	margin-left: -15px

@media (max-width: 991px) and (min-width: 768px)
	#page
		margin-left: auto

#header
	padding: 34px 0
	#page-title
		margin: 0px

#content
	padding-top: 30px

// list
////////////////////////////////////////
#list
	header
		margin: 15px 0
	.row
		margin-top: 15px
		margin-bottom: 15px

// Sidebar
////////////////////////////////////////
#branding
	background: $green
	color: $white
	padding: 30px 0
	text-align: center
	height: 104px
	h1
		padding: 0px
		margin: 0px
	img
		max-height: 43px
		max-width: 70%

#sidebar
	background: $darkestgrey
	height: auto
	position: relative
	color: $grey
	nav
		height: 100%
		min-height: 100%
		padding: 30px 
	#main-nav
		margin-bottom: 30px
		li
			border-bottom: 1px solid lighten($darkestgrey, 5%)
			i
				margin-right: 20px
			a
				color: $grey
				display: block
				padding: 15px
				&:hover
					text-decoration: none
					color: $white
					background: lighten($darkestgrey, 5%)
#logout
	.btn-default
		background: lighten($darkestgrey, 5%)
		&:hover
			color: $white
			background: lighten($darkestgrey, 10%)

// Modal Styles
/////////////////////////////////////

.modal-content
	border-radius: 0px
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0)
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0)
	border: none

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom 
	margin-right: 15px

.admin_form .row
	margin-bottom: 10px

